:root {
    --ff-inter: 'Inter', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
    
    --clr-neutral-400: hsl(228, 34%, 66%);
    
    --clr-bg: hsl(230, 17%, 14%);
    --clr-bg-top: hsl(232, 19%, 15%);
    --clr-card-bg: hsl(228, 28%, 20%);
    --clr-card-bg-hover: hsl(228, 24%, 38%);
    --clr-lime-green: hsl(163, 72%, 41%);
    --clr-bright-red: hsl(356, 69%, 56%);
    --clr-regular-700: hsl(0, 0%, 100%);

    --clr-toggle-bg-on: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --clr-toggle-bg-off: rgb(131, 128, 128);
    --clr-border-fb: hsl(208, 92%, 53%);
    --clr-border-x: hsl(203, 89%, 53%);
    --clr-border-ig: linear-gradient(to right, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    --clr-border-yt: hsl(348, 97%, 39%);

    --toggle-width: 2.6rem;
    --toggle-height: 1.3rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-family: var(--ff-inter);
    color: var(--clr-neutral-400);
    font-weight: var(--fw-bold);
    background-color: var(--clr-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 1rem;
}


h1, p, span, body {
    margin: 0;
}

h1, h2, p, label {
    color: var(--clr-regular-700);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

span {
    font-size: 0.8rem;
    color: var(--clr-neutral-400);
}

header, .heading, .theme-switcher {
    display: flex;
}

.wrapper {
    max-width: 1120px;
    margin-inline: auto;
}

/* header */
header {
    justify-content: space-between;
    margin-block: 2.5rem;
}

.heading {
    flex-direction: column;
}

/* toggle button */
.toggle-container {
    display: flex;
    padding: 1rem;
    /* width: 80%; */
    justify-content: space-between;
    align-items: center;
  }

.toggle-container > label {
    color: var(--clr-neutral-400);
}

  .toggle-switch {
    margin-left: 0.5rem;
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.2rem;
  }

  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    border-radius: 1.2rem;
    transition: 0.4s;
  }

  .toggle-slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    right: 0.1rem;
    bottom: 0.1rem;
    background-color: var(--clr-bg);
    border-radius: 50%;
    transition: 0.4s;
  }

  input:checked + .toggle-slider {
    background: var(--clr-toggle-bg-on);
  }

  input:checked + .toggle-slider:before {
    transform: translateX(-1.3rem);
  }

  input {
    display: none;
  }

/* main */

section {
    margin-block-end: 3rem;
}
.followers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
}

.follower-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--clr-card-bg);
    border-radius: 0.25rem;
    border-top: solid 4px;
}


.follower-container > * {
    margin-block: 0.7rem;
}

.followers-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}

.followers-count > span {
    letter-spacing: 0.2rem;
    font-weight: var(--fw-regular);
}

.social-handle {
    display: flex;
    justify-content: baseline;
}
.social-handle > span {
    margin-inline: 0.4rem;
}

.count-change > img {
    margin-block: 0.1rem;
}
.count-change.up > span {
    color: var(--clr-lime-green);
}
.count-change.down > span {
    color: var(--clr-bright-red);
}


.follower-container.fb {
    border-color: var(--clr-border-fb);
}
.follower-container.x {
    border-color: var(--clr-border-x);
}
.follower-container.ig {
    position: relative;
    border: none;
}

.follower-container.ig::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 4px solid;
    border-image: var(--clr-border-ig);
    border-image-slice: 1;
  }

.follower-container.yt {
    border-color: var(--clr-border-yt);
}

.followers-stat {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-height: 8rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--clr-card-bg);
}

.followers-stat > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.followers-stat:hover, .follower-container:hover {
    background-color: var(--clr-card-bg-hover);
    cursor: pointer;
}
.followers-stat > p {
    font-size: 1.6rem;
}
.logo-with-count > img {
    width: 1rem;
    margin-block-end: 2rem;
    margin-inline: auto;
}

.followers-stat > p {
    font-size: 2rem;
}

/* Switching themes */

:root:has(#theme-input:not(:checked)) {
    --clr-bg: white;
    --clr-card-bg: hsl(227, 47%, 96%);
    --clr-regular-700:hsl(230, 17%, 14%);
    --clr-neutral-400: hsl(228, 12%, 44%);
    --clr-card-bg-hover: hsl(228, 69%, 86%);
}



@media only screen and (max-width: 600px) {

    body {
        margin: 0;
        padding: 1rem;
    }
   header {
    flex-direction: column;
    width: 100%;
   }
   .heading {
    border-bottom: 2px solid lightgray;
    border-width: thin;
    margin: 0;
    padding-block-end: 1.5rem;
   }

   .toggle-container {
    padding-inline: 0;
    display: flex;
    justify-content: space-between;
    /* width: 80%; */
   }
    .followers-grid {
    grid-template-columns: 1fr;
   }

   .toggle > label {
    display: flex;
    justify-content: space-between;
   }
}